# Ignore everything
*
# Whitelist anything that is a directory
!*/

# Un-whitelist folders that may contain git repositories
dev/
Downloads/
.local/
Documents/
.heroku/


# Whitelist files
!.gitignore
!.bash_aliases
!.bash_profile
!.bashrc
!.env
!.gitconfig
!.gitignore
!.ideavimrc
!.vimrc
!install.sh

# Whitelist ubuntu-install folder
!ubuntu-install/**

# Whitelist part of Android Studio settings
!.AndroidStudioPreview1.5/config/codestyles/**
!.AndroidStudioPreview1.5/config/colors/**
!.AndroidStudioPreview1.5/config/fileTemplates/**
!.AndroidStudioPreview1.5/config/inspection/**
!.AndroidStudioPreview1.5/config/keymaps/**
!.AndroidStudioPreview1.5/config/templates/**

