# Ignore everything
*
# Whitelist directories
!ubuntu-install/**

# Whitelist files
!.gitignore
!backup.sh
!.bash_aliases
!.bash_profile
!.bashrc
!.env
!.gitconfig
!.gitignore
!.gradle-tab-completion
!.ideavimrc
!.vimrc
!.zshrc
!.zsh_aliases
!install.sh

# Whitelist part of Android Studio settings

