[user]
	email = haarman.niek@gmail.com
	name = Niek Haarman
[push]
	default = simple
[core]
	autocrlf = input
	editor = vim
[alias]
	poof = "!git branch --merged | grep  -v '\\*\\|master\\|dev\\|release\\|android' | xargs -n 1 git branch -d"
[diff]
	tool = kdiff3
